.App {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.Navbar {
  display: flex;
  position: sticky;
  z-index: 1;
  top: 0px;
  padding-top: 15px;
  padding-bottom: 25px;
  align-items: center;
  background: inherit;
}

.Songs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4px;
}

@media screen and (min-width: 425px) {
  body {
    font-size: 13px;
  }
  .song-card {
    height: 145px;
    width: 145px;
    margin-bottom: 5px;
  }
  .navbar-logo {
    width: 200px;
  }
  .account-circle {
    font-size: 30px !important;
  }
  #home-page-quote {
    font-size: 27px !important;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 765px) {
  .Songs {
    grid-template-columns: repeat(3, 1fr);
  }
  .song-card {
    height: 160px;
    width: 160px;
    margin-bottom: 5px;
  }
  .navbar-logo {
    width: 220px;
  }
  .Navbar {
    padding-left: 30px;
    padding-right: 30px;
  }
  .account-circle {
    font-size: 35px !important;
  }
  .song-title {
    font-size: 14px !important;
  }
  #home-page-quote {
    font-size: 30px !important;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1022px) {
  body {
    font-size: 15px !important;
  }
  .Songs {
    grid-template-columns: repeat(4, 1fr);
  }
  .song-card {
    height: 170px;
    width: 170px;
    margin-bottom: 8px;
  }
  .navbar-logo {
    width: 225px;
  }
  .Navbar {
    padding-left: 45px;
    padding-right: 45px;
  }
  .account-circle {
    font-size: 40px !important;
  }
  .song-title {
    font-size: 15px !important;
  }
  #home-page-quote {
    font-size: 35px !important;
    margin-bottom: 50px;
  }
}
