@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 3px !important;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #181818;
}

.logo {
  cursor: "pointer";
  width: 250px;
  margin: auto;
}
.navbar-logo {
  width: 168px;
}

.white-text {
  color: #eee !important;
}

.ornament {
  font-family: "Dancing Script", cursive !important;
  font-size: 25px;
}

button {
  text-transform: lowercase !important;
  letter-spacing: 2px !important;
  width: 80%;
  opacity: 0.9;
  margin: 5px;
}

#home-page-quote {
  color: #181818 !important;
  line-height: 30px;
}

#how-it-works {
  width: fit-content;
  margin: auto;
  letter-spacing: 3px !important;
  transition: 0.2s ease;
  cursor: pointer;
}

#how-it-works:hover {
  color: #181818;
}

.link {
  transition: 0.2s ease;
  cursor: pointer;
}

.link:hover {
  color: #eee;
}
/* 
.input {
  width: inherit;
  padding: 10px;
  height: 55px;
  border-radius: 5px;
  background-color: rgba(238, 238, 238, 0.702);
} */

.input:focus {
  outline: none;
}

.song-card {
  height: 130px;
  width: 130px;
  margin: auto;
  margin-bottom: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.filter-on-hover {
  width: 100%;
  height: 100%;
  background: rgba(24, 24, 24, 0);
  transition: 0.2s ease;
  border-radius: 4px;
}
.filter-on-hover:hover {
  background: rgba(24, 24, 24, 0.1);
}

.action-buttons {
  background: rgba(24, 24, 24, 0.3);
  display: flex;
  justify-content: end;
  width: fit-content;
  margin-left: auto;
  padding: 0 5px;
  border-radius: 5px;
}

.back-to-library {
  height: 55px;
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.library-icon,
.edit-profile-button,
.deactivate-profile-button {
  transition: 0.3s ease;
  margin-right: 9px;
  cursor: pointer;
}
.library-icon:hover,
.edit-profile-button:hover,
.deactivate-profile-button:hover {
  color: rgb(238, 238, 238, 0.8);
}

.edit-profile-button,
.deactivate-profile-button {
  margin-top: 3px;
}

.edit-profile-button {
  margin-left: 5px;
}

.song-library-button-text {
  font-size: 10px !important;
}

.song-title {
  position: absolute;
  bottom: 0px;
  font-size: 13px !important;
  padding-left: 4px;
  background-color: rgb(24, 24, 24, 0.3);
}

.sticky-divider {
  position: sticky;
  top: 149px;
  z-index: 2;
}

.small-letter-spacing {
  letter-spacing: 1.5px !important;
}

.categories-wrapp {
  background-color: rgb(24, 24, 24, 0.3);
  display: flex;
  justify-content: space-around;
  margin-left: auto;
}

.sticky-button {
  position: sticky;
  top: 80px;
  z-index: 2;
}
.category {
  color: #eee;
  font-size: 14px !important;
  padding-top: 9px;
  padding-bottom: 9px;
  transition: 0.2s ease;
  cursor: pointer;
}

.category:hover {
  color: rgb(194, 194, 194);
}

/* scrol barr*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
